html, body {
    height: 100%;
}
body {
    background-image: url(../images/sunset.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #292928;
}
